body{
    margin: 0;
}
/* Font */
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, form, fieldset, legend, input, textarea, select, button, table, th, td, caption {
    font-family: 'Averia Serif Libre', cursive;
}
.btn{
    font-family: 'Averia Serif Libre', cursive;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 25px;
    margin: 0;
    margin-top: 5%;
}
#background{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.btn {
    color: #fff;
    background-color: rgba(50, 255, 50, 0.486);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 100px;
    text-decoration: none;
}
.btn:hover {
    background-color: rgb(50, 255, 50);
}
.btn *{
    margin: 10px;
}
.btn img{
    width: 64px;
    height: 64px;
}
.gui-notify a {
    color: rgb(0, 255, 98);
}

.gui-notify a:hover {
    color: rgb(255, 255, 255);
}

input, textarea, select {
    background-color: #00000025;
    color: #fff;
    border: 1px solid rgb(0, 255, 98);
    outline: none;
}

.gui-notify textarea {
    height: 200px;
    width: 60%;
}

.gui-notify input:active,
.gui-notify select:active {
    background-color: #fff;
    color: #000000;
}

.action-notify {
    flex-direction: row !important;
}

.action-notify p {
    padding: 1%;
}

.action-notify {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar{
    background-color: rgb(6, 112, 46);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
    color: #fff;
}
.navbar a{
    color: #fff;
}
.navbar a:hover{
    color: rgb(0, 255, 98);
}
/* Detect small screen */
@media screen and (max-width: 768px) {
    .win {
        width: 97%;
        margin: 0 !important;
        position: absolute !important;
        background: #000000 !important;
        border-radius: 0 !important;
    }
    .action-notify {
        flex-direction: column !important;
    }
}
.win {
    position: fixed;
}
#radioWin{
    transform: scale(0.5, 0.5);
    border: #fff solid 1px;
    padding: 1%;
}
.win, iframe {
    background-color: rgba(50, 255, 50, 0.137);
    border-radius: 20px;
    color: #fff;
}
.win-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: #fff solid 1px;
    border-radius: 20px;
    background-color: #00000054;
    user-select: none;
    cursor: grabbing
}
.win-bar p{
    margin-left: 20%;
    font-size: 200%;
    transition: all 0.5s;
    border-radius: 20px;
    cursor: pointer;
    padding-left: 1%;
    padding-right: 1%;
    border: rgba(255, 255, 255, 0) solid 1px;
}
.win-bar p:hover{
    color: #fff;
    border: #fff solid 1px;
    background-color: #00000054;
}